/* General Styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: #f4f4f4; /* Light Gray */
	color: #333333; /* Dark Slate */
	line-height: 1.6;
}

a {
	text-decoration: none;
	color: inherit;
}
