/* Responsive Design */
@media (max-width: 768px) {
	header {
		flex-direction: column;
	}

	#search {
		flex-direction: column;
	}

	#bookList {
		grid-template-columns: repeat(1, 1fr);
	}

	#search input,
	#search select {
		width: 100%;
		margin-bottom: 15px;
	}

	#wishlistItems {
		grid-template-columns: repeat(1, 1fr);
	}
}
